<main>

  <h3>Admin Manage</h3>

  <section class="actions">
    <button (click)="add.show()">Add New</button>

    <app-card #add>
      <form [class.show]="true" (ngSubmit)="createAdmin()" [formGroup]="definer">
        <label>username: <input type="text" formControlName="username"></label>
        <label>password: <input type="password" formControlName="password"></label>
        <label>enable: <input type="checkbox" formControlName="isEnable"></label>
        <label>lock: <input type="checkbox" formControlName="isLock"></label>
        <button type="submit">create</button>
      </form>
    </app-card>

    <app-card #update>
      <form [class.show]="true" (ngSubmit)="updateAdmin()" [formGroup]="recorder">
        <input type="hidden" formControlName="id">
        <label>username: <input type="text" formControlName="username"></label>
        <label>password: <input type="password" formControlName="password"></label>
        <label>enable: <input type="checkbox" formControlName="isEnable"></label>
        <label>lock: <input type="checkbox" formControlName="isLock"></label>
        <button type="submit">update</button>
      </form>
    </app-card>
  </section>

  <section class="pager">
    <button>Prev</button>
    <span>{{page.page + 1}} / {{page.pageCount}}</span>
    <button>Next</button>
  </section>

  <table>
    <caption>admin list</caption>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>IsEnable</th>
      <th>IsLock</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Operation</th>
    </tr>
    <tr *ngFor="let item of page.content">

      <td>{{item.id}}</td>
      <td>{{item.username}}</td>
      <td>{{item.isEnable}}</td>
      <td>{{item.isLock}}</td>
      <td>{{item.created | date}}</td>
      <td>{{item.updated | date}}</td>
      <td>
        <button (click)="update.show(); displayData(item)">Update</button>
        <button (click)="deleteAdmin(item.id)">Delete</button>
      </td>
    </tr>
  </table>

  <section class="pager">
    <button>Prev</button>
    <span>{{page.page + 1}} / {{page.pageCount}}</span>
    <button>Next</button>
  </section>

</main>
