<main>

  <h3>Admin Manage</h3>

  <section class="actions">
    <h5>Create admin</h5>
    <form (ngSubmit)="create()" [formGroup]="definer">
      <label>username: <input type="text" formControlName="username" autocomplete="username"></label>
      <label>password: <input type="password" formControlName="password" autocomplete="current-password"></label>
      <label>enable: <input type="checkbox" formControlName="isEnable"></label>
      <label>lock: <input type="checkbox" formControlName="isLock"></label>
      <button type="submit">create</button>
    </form>

    <br>

    <h5>Update admin</h5>
    <form (ngSubmit)="update()" [formGroup]="recorder">
      <input type="hidden" formControlName="id">
      <label>nickname: <input type="text" formControlName="nickname" autocomplete="username"></label>
      <label>password: <input type="password" formControlName="password" autocomplete="new-password"></label>
      <label>enable: <input type="checkbox" formControlName="isEnable"></label>
      <label>lock: <input type="checkbox" formControlName="isLock"></label>
      <button type="submit">update</button>
    </form>
  </section>

  <section class="pager">
    <button>Prev</button>
    <span>{{page.page + 1}} / {{page.pageCount}}</span>
    <button>Next</button>
  </section>

  <table>
    <caption>admin list</caption>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Nickname</th>
      <th>IsEnable</th>
      <th>IsLock</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Operation</th>
    </tr>
    <tr *ngFor="let item of page.content">

      <td>{{item.id}}</td>
      <td>{{item.username}}</td>
      <td>{{item.nickname}}</td>
      <td>{{item.isEnable}}</td>
      <td>{{item.isLock}}</td>
      <td>{{item.created | date}}</td>
      <td>{{item.updated | date}}</td>
      <td>
        <button (click)="displayData(item)">Update</button>
        <button (click)="deleteAdmin(item.id)">Delete</button>
      </td>
    </tr>
  </table>

  <section class="pager">
    <button>Prev</button>
    <span>{{page.page + 1}} / {{page.pageCount}}</span>
    <button>Next</button>
  </section>

</main>
